<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/css/table.css">  
</head>
<body>
    <div class ="container">
        <div class="header">
            <h2 style="text-align:center">STUDENT MARKSHEET</h2>
        </div>
        <span></span>
    <form class="form" action="/views/login.html" id="form">
    <table>
        <tr>
            <th>Si.no</th>
            <th>Name</th>
            <th>Rollnum</th>
            <th>Date of Exam</th>
            <th>Test 1</th>
            <th>Test 2</th>
            <th>Test 3</th>
            
        </tr>
        <% if(userdata.length!=0){ %>
            <%var i=1; %>
            <% userdata.forEach((data)=> { %>
               
                <tr>
                <td><%=i; %></td>
                <td><%=data.name %></td>
                <td><%=data.rollno %></td>
                <% var datemonth=data.dateofexam.getMonth()+1 %>
                <td><%=data.dateofexam.getFullYear()+"-"+datemonth+"-"+data.dateofexam.getDate() %></td>
                <td><%=data.m1 %></td>
                <td><%=data.m2 %></td>
                <td><%=data.m3 %></td>
                

                </tr>
                <% i++; %>
           <% }) %>


        <% } else{ %>
        <tr>
            <td colspan="9">No data found</td>
        </tr>
    <% } %>
    </table>
    <br>
    <center>
    <button>LOGOUT</button>
    </center>
    </form>
    </div>
</body>
</html>